* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.main-container {
  background-image: url("./images/image.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 150px;
}

div.first-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.first-nav img {
  width: 200px;
  margin-right: 60px;
}

div.first-nav a {
  color: #9faabc;
  padding: 0px 10px;
  text-decoration: none;
}

div.first-nav a:hover {
  color: #f3f3f3;
}

div.second-nav ul li {
  list-style: none;
}

div.second-nav ul li a {
  text-decoration: none;
  color: white;
}

main form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

main form input {
  width: 600px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding-inline-start: 10px;
  font-size: 15px;
}

form i {
  font-size: 25px;
  color: #1a8ab3;
  position: relative;
  right: 110px;
  padding: 0px 5px;
}

.content-container {
  margin: 0px 170px;
  position: absolute;
  bottom: 50px;
  max-width: 80%;
}

div.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.down,
.info,
.arrow-left,
.arrow-right {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.down {
  height: 30px;
  width: 30px;
  background-color: #1f1f1f;
  border-radius: 5px;
}

div.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.information {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.information i {
  padding-right: 10px;
}

div.arrow-left,
div.arrow-right {
  height: 30px;
  width: 30px;
  background-color: #1f1f1f;
  margin: 0px 10px;
  border-radius: 5px;
}

div.messages {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.text {
  background-color: #1f1f1f;
  width: 170px;
  border-radius: 5px;
  color: white;
  font-size: 11.5px;
  text-align: center;
}

div.text p {
  padding: 10px;
  white-space: nowrap;
}

div.headline {
  padding-right: 10px;
}

div.headline img {
  width: 170px;
  height: 100px;
  border-radius: 5px;
}

footer {
  height: 35px;
  width: 100%;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5e6656;
}

.footcontainer1 a {
  padding: 0px 10px;
  text-decoration: none;
  color: #5e6656;
}

.footcontainer1 a:hover {
  text-decoration: underline;
}

i.arrows {
  font-size: 50px;
  color: #f3f3f3;
  opacity: 0.5;
  padding: 0px 10px;
}

.image {
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.image img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.second-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.menu i {
  font-size: 20px;
  padding-left: 40px;
  color: #f3f3f3;
}

/* Media queries section */
@media (max-width: 500px) and (orientation: portrait) {
  nav.navbar {
    padding: 0px 2px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
  }
  div.first-nav img {
    width: 120px;
    margin-right: 10px;
  }

  div.first-nav a {
    padding: 0px 5px;
  }
  .main-container {
    background-position: center;
    overflow: hidden;
  }
  .content-container {
    display: none;
  }

  main form {
    position: relative;
    left: 40px;
    top: 150px;
  }

  main form input {
    width: 300px;
    height: 40px;
  }

  footer {
    font-size: 10px;
  }

  * {
    box-sizing: content-box;
  }

  /* div.menu i {
    display: none;
  } */
}
